#chart {
  height: 440px;
  width: 100%;
  
}
#chart1 {
  height: 440px;
  width: 100%;
  
}
::ng-deep #chart.pointer-on-bars .dxc-series rect {
  cursor: pointer;
}

::ng-deep #chart1.pointer-on-bars .dxc-series rect {
  cursor: pointer;
}
.button-container {
  text-align: center;
  height: 40px;
  position: absolute;
  top: 7px;
  left: 0px;
}



.aParent div {
  float: left;
  clear: none;
}

button { cursor: pointer; }

.selectElement{
  background-color: rgb(155, 45, 60);

}

.selectClass{
background-color: aqua;
}

.optionsClass{
  background-color: rgb(88, 206, 200);
  padding:15px !important;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 1px solid rebeccapurple !important;
  
}