<div class="aParent" style="margin-top: 12%;margin-left: 8%;">
<div style="margin-right: 5%;">
  <select  [(ngModel)]="departmentId"
          style="background-color:rgb(226, 234, 236);width: 300px;height: 50px;overflow-y: scroll;">
    <option *ngFor="let person of allDepartments" [ngValue]="person.key">{{person.value}}</option>
  </select>
</div>


<div>

  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  
    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
  
  <!-- <p>Selected range: {{range.value | json}}</p> -->

</div>

<div>

  <button style="width: 119px; height: 52px; margin-left: 50px" (click)= "selectChangeHandler()">Show Data</button>
</div>
</div>


<div class="aParent" style="margin-top: 40%;">
  <div style="width: 400px; margin-right: 100px;">
    <canvas id="myChart"></canvas>
  </div>
  <div style="width: 400px;">
    <canvas id="myChart2"></canvas>
  </div>
</div>





